<div class="d-flex mb-3" style="justify-content: center;">
        <div class="card mb-3 mt-5" style="border:none">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <h1 class="text-center pb-3">{{ formtitle }}</h1>
                        <form action="{{ action }}" method="POST" style="align-self: center" class="row g-3">
                            <input name="email" class="form-control" type="email" required="true" placeholder="email"/>
                            <input name="password" class="form-control" type="password" required="true" placeholder="password"/>
                            <button class="btn btn-warning" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>